# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de ambiente
backend/.env
backend/venv/

# Logs
*.log

# Dependências do Node.js
frontend/node_modules

# Arquivos de build do React
frontend/build

# Diretórios temporários
jules-scratch/
