# Variáveis de ambiente para a configuração do LDAP
LDAP_SERVER=ldaps://your-ad-server.com
LDAP_PORT=636
LDAP_BASE_DN=dc=your-domain,dc=com
LDAP_BIND_USER=cn=admin,dc=your-domain,dc=com
LDAP_BIND_PASSWORD=your-password
