.dashboard-grid {
    display: flex;
    flex-direction: row;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.time-column, .room-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Permite que as colunas de sala cresçam */
}

.time-column {
    flex-grow: 0; /* Impede que a coluna de tempo cresça */
    flex-basis: 100px; /* Largura fixa para a coluna de tempo */
}


.header-cell, .time-cell, .status-cell {
    padding: 15px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-weight: 500;
}

.header-cell {
    background-color: #f2f2f2;
    font-weight: bold;
    position: sticky;
    top: 0;
}

.status-cell.status-livre {
    background-color: #d4edda; /* Verde claro */
    color: #155724;
}

.status-cell.status-ocupado {
    background-color: #f8d7da; /* Vermelho claro */
    color: #721c24;
}

.status-cell.status-desconhecido {
    background-color: #e2e3e5; /* Cinza */
    color: #383d41;
}
